services:
  servidor:
    build: 
      context: ${CONTEXTO}
      dockerfile: ./dockerfiles/sweb/nginx/Dockerfile
      args:
        - AUTOR=${AUTOR}
    image: dsegura97/nginx 
    container_name: ${CONTENEDOR}
    hostname: ${HOSTNAME}
    
    env_file:
      - ./.env
    ports:
      - "${PORT_WEB}:80"
    volumes:
      - ./logs:/root/logs
    networks:
      netcarontewebnginx:
        ipv4_address: ${IP}
        
networks:
  netcarontewebnginx:
    
    ipam:
      driver: bridge
      config:
        - subnet: ${SUBNET}